*.iml
.gradle
.idea
.kotlin
/.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Testing & Coverage
/app/build/reports/jacoco/
/app/build/outputs/code_coverage/
/app/build/outputs/unit_test_code_coverage/
